{% extends 'dash-layout.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-trash"></i>
          <p class="card-text">Add Student</p>
        </div>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-trash"></i>
          <p class="card-text">Add Something</p>
        </div>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-trash"></i>
          <p class="card-text">Add Nothing</p>
        </div>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
  

{% endblock %}